{% extends "layout.html" %}
{% block title %}{% if search.term %}{{ search.term | e}}{% else %}Browse{% endif %} :: {{ config.SITE_NAME }}{% endblock %}
{% block metatags %}
{% if search.term %}
<meta property="og:description" content="Search for '{{ search.term }}'">
{% else %}
<meta name="description" content="A voice synth community focused on documenting and preserving voice synthesizers and more">
<meta name="keywords" content="torrents, bittorrent, torrent, vocaloid, voicebank, download, magnet, magnets">
<meta property="og:description" content="{{ config.SITE_NAME }} Homepage">
{% endif %}
{% endblock %}
{% block body %}

{% if not search.term %}
{% include "infobubble.html" %}
{% endif %}

{% include "search_results.html" %}

{% endblock %}
