{% extends "layout.html" %}
{% block title %}Rules :: {{ config.SITE_NAME }}{% endblock %}
{% block body %}

<div class="content">
	<h1>Site Rules</h1><!-- <br> -->
	<h1>Breaking any of the rules on this page may result in getting banned</h1>
	<p><b>Shitposting and trolling:</b> Your account will be banned if you keep this up. Repeatedly making inaccurate/false reports falls under this rule as well.</p>
	<p><b>Bumping:</b> Your account will be banned if you keep deleting and reposting your torrents.</p>
	<p><b>URL redirection services:</b> These are removed on sight along with their torrents.</p>
	<p><b>Advertising:</b> No.</p>
	<p><b>Malware:</b> No.</p>
	<p><b>Content restrictions:</b> This site is for content related to voice synthesizers. Other content is prohibited without exceptions and will be removed.</p>
	<h3>Synthoria is dedicated to hosting and preserving legal torrents only. We do not facilitate piracy in any form. This website is not a platform for pirated materials, and we encourage users to respect the intellectual property rights of creators and owners.</h3>
	<h4>This platform may host content that does not strictly adhere to the End User License Agreement (EULA) of certain voice synthesizers. While we allow such content to be shared, we emphasize that users who download and use this content do so at their own risk. By using this content, users acknowledge that they are responsible for ensuring compliance with the relevant EULA and any applicable laws. We do not condone or encourage any violation of EULAs or laws, and we disclaim any liability for any consequences arising from the use of such content.</h4>
	<p><b>Notes concerning uploading other people's work:</b></p>
	<ul>
		<li>
			<p>Do not upload cracked or pirated voice synthesizers or voicebanks. Only official, legal, or open-source content is allowed.</p>
		</li>
		<li>
			<p>Do not upload voicebanks where the author has explicitly stated that redistribution is prohibited.</p>
		</li>
	</ul>
</div>
{% endblock %}
